
.btn-help{
  width: 100px; 
  min-width: 50px;
  border-radius: 1.5rem;
  position: absolute;
  bottom: 0;
  right:0;
    
  }
  




.start-feedback{
    background-color: midnightblue !important;
    left: calc(100% - 65px);
  }