.header-circles{
    width: 20%;
    height: auto;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.rounded{
  width: $rounded-width;
  height: $rounded-height;
  background-color: $gray-400;
  font-size: $rounded-font-size;
  border: 2px solid white;

}