header {
    background-color: #313131;
    min-height: 200px;
}
.header-text {
    color: $white;
    &.name {
        font-family: "EB Garamond", serif;
        font-size: 50px;
    }
}
.header-mail-text {
    & a {
        color: $white;
        font-size: 14px;
    }
}
.header-team-text {
    color: $white;
    font-size: 20px;
    font-weight: 500;
}
.initials {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d4d9db;
    border: 2px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #323a3d;
    font-weight: 700;
}
.initials-small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d4d9db;
    border: 3px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #323a3d;
    font-weight: 700;
    box-shadow: 0px 1px 6px 0px rgb(34 60 80 / 60%);
    &[data-order="1"] {
        z-index: 4;
        transform: translateX(40%);
    }
    &[data-order="2"] {
        z-index: 3;
        transform: translateX(20%);
    }
    &[data-order="3"] {
        z-index: 2;
        transform: translateX(0%);
    }
    &[data-order="4"] {
        z-index: 1;
        transform: translateX(-20%);
    }
}
.initials-more {
    background-color: #fbd215;
    z-index: 5000;
    transform: translateX(-40%);
}
.team-title {
    font-size: 30px;
}
.switch {
    cursor: pointer;
    background-color: #1f2426;
    &.active {
        border: solid 2px #fbd215;
        color: $white;
    }
    &.inactive {
        border: none;
        color: #8f8f8f;
    }
}
.feedback {
    transform: rotate(-90deg) translateY(72%);
    transform-origin: center;
    background-color: #093d67;
    color: $white;
    z-index: 5;
    position: fixed;
    right: 0px;
    top: 40%;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 8px 15px;
}
.help {
    background-color: #FFD658;
    color: #6B5616;
    z-index: 5;
    position: fixed;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 20px;
    & svg {
        margin-right: 10px;
    }
}
