header {
  background-color: $header-bg;
}

.nav-pills {
  .nav-link {
    padding: $nav-pills-padding-y $nav-pills-padding-x;
    &.active {
      font-weight: $nav-pills-link-active-font-weight;
    }
  }
}

header h1.header-title {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}
header span.header-subtitle {
  font-size: 0.7rem;
  font-weight: bolder;
}