.img-content{
width: 30px;
min-width: 20px;
height: auto;

}

.img-header{
    width: 35px;
    min-width: 20px;
    height: auto;
    }
    
.img-weekly-report{
    width: 55px;
    min-width: 35px;
    height: auto;
    //padding-left: 0.025rem;
    //padding-right: 0.025rem;
}  

.logo{
    width: 60%;
    height: auto;
  }