@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$dark: #1f2426;
$grey-800: #333a3d;
$btn-font-weight-lg: 700;
$aside-width: 240px;
$btn-padding-y-lg: 16px;
$btn-link-border-color:#fff;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 800px
);
