@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import"~bootstrap/scss/variables";

//colors 
$gray-800: #333a3d; 
$bg-light: #e9ecef;

//navigation
$nav-link-color: $white;
$nav-link-hover-color: $yellow;
$nav-pills-link-active-color: $white;
$nav-pills-link-active-bg: $gray-900;
$nav-pills-link-active-font-weight: bold;
$nav-pills-padding-y: 10px;
$nav-pills-padding-x: 20px;
$border-gray: $gray-600; 
$input-border-color: $yellow;



//aside
$aside-width: 15%;
$aside-bg: $gray-800;

$enable-grid-classes: false;
$enable-cssgrid: true;
