@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "global";
@import "aside";
@import "header";
@import "maincontent";
@import "emote-change";
@import "positions-sizes";
@import "icons";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");