ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-btn {
  padding: 0.1rem 1rem 0.15rem;
  color: $secondary;
  &.active {
    border: 2px solid $yellow;
  }
}

.user-icon-list-item:not(:first-child) {
  margin-left: -0.5rem;
}

.user-icon {
  width: 3rem;
  height: 3rem;
  background-color: $gray-400;
  border: 2px solid $white;

  &--more {
    background-color: $yellow;
    border-width: 3px;
  }
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 13px);

  display: block;
  width: 26px;
  height: 4px;
  background-color: $yellow;
}

.rating-emo {
  width: 36px;
  height: 36px;
  background-color: $gray-400;
  background-repeat: no-repeat;
  background-size: cover;

  &--1 {
    background-color: $red;
    background-image: url("../assets/rating-emo-1.svg");
  }
  &--2 {
    background-color: $orange;
    background-image: url("../assets/rating-emo-2.svg");
  }
  &--3 {
    background-color: $yellow;
    background-image: url("../assets/rating-emo-3.svg");
  }
  &--4 {
    background-color: $green;
    background-image: url("../assets/rating-emo-4.svg");
  }
  &--5 {
    background-color: $teal;
    background-image: url("../assets/rating-emo-5.svg");
  }
}
