@import "./variables";

.btn-fix-right-bottom {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
}

.btn-feedback {
    transform: rotate(270deg);
    right: -2rem;
    background-color: $feedback !important;
    color: $white !important;
}
