.btn-success{
    font-size: 100px;
    padding: 10px;
}

.btn-info{
    font-weight: 200;
}

.btn-outline-info{
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.btn-fix-right {
    position: fixed;
    bottom: 30px;
    right: 20px;
}