@import "variables";

html {
  height: 100%;
}

.page-header {
  background-image: url(/src/img/backgroundheader.jpg);
}

.sm-input {
  max-width: 15rem;
}

.md-input {
  max-width: 20rem;
}

.lg-input {
  max-width: 25rem;
}

.extra-input {
  max-width: 30rem;
}

.extra-bold {
  font-weight: $extra-bold !important;
}

.radio-button {
  height: 12rem;
  width: 12rem;
}

.radio-button img {
  height: 5rem;
  width: 5rem;
}

textarea {
  height: 8rem;
  resize: none !important;
}
