@import "variables";

html {
  height: 100%;
}

.page-header {
  background-image: url(/src/img/backgroundheader.jpg);
}

.sm-input {
  max-width: 15rem;
}

.md-input {
  max-width: 20rem;
}

.lg-input {
  max-width: 25rem;
}

.extra-bold {
  font-weight: $extra-bold;
}
