@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./variables";

@import "./blocks/aside";
@import "./blocks/page-header";
@import "./blocks/help-buttons";
@import "./blocks/invite-your-team";
@import "./blocks/team-reports";
@import "./blocks/team-member";
@import "./blocks/my-reports";
@import "./blocks/fill-out-report";

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
