<aside class="aside">
    <img class ="logo my-5 mx-4" alt="logo" height="45" src="../img/logo.png" width="167"/>
    <ul class="list-unstyled mx-3">
        <li>
            <a href="#" class="btn my-3 btn-dark d-block btn-lg">Launch Guide</a>
        </li>
        <li>
            <a href="#" class="btn my-3 mx-3 btn-link d-block">Invite Your Team</a>
        </li>
        <li>
            <a href="#" class="btn my-3 mx-3 btn-link d-block">Team Report</a>
        </li>
        <li>
            <a href="#" class="btn my-3 mx-3 btn-link d-block">My Reports</a>
        </li>
    </ul>
    <ul class ="list-unstyled mx-3">
        <a href="#" class="btn my-3 mx-3 btn-link d-block"><i class="bi bi-gear-fill"></i>&nbsp;My Profile</a>
    </ul>
</aside>