
<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-lg-2 p-lg-0 h-100 align-items-lg-start">
  <div class="container-fluid d-lg-flex flex-lg-column px-4 px-lg-2">
    <span class="navbar-brand d-lg-none">Menu</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-lg-flex d-none align-items-center justify-content-center py-4">
      <img class="img-fluid" src="../assets/logo.png" alt="Weekly Report Logo" width="200" height="100">
    </div>

    <div class="collapse navbar-collapse pt-3 pt-lg-2 align-items-lg-start flex-column" id="navbarSupportedContent">
      <ul class="navbar-nav flex-column me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link p-3 active" aria-current="page" href="./index.html">Launch Guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" href="./invite-your-team.html">Invite Your Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" href="./team-reports.html">Team Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" href="./my-reports.html">My Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3 nav-link--special" href="./fill-out-report.html">Fill out a Report</a>
        </li>
      </ul>

      <ul class="navbar-nav flex-column pt-5 pb-3">
        <li class="nav-item">
          <a class="nav-link p-3" href="#">Back to Elite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" href="./my-company.html">My Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" href="#">
            <i class="bi bi-gear"></i>
            My Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" href="#">
            <i class="bi bi-box-arrow-left"></i>
            Sign Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>