<aside class="aside col-2 d-flex align-content-between flex-wrap aside_nav min-vh-100 bg-primary">
    <div>
        <a href="#">
            <img class="img-fluid my-4" src="../img/logo.png" alt="Logo">
        </a>
        <ul class="list-unstyled mx-4">
            <li class="my-1">
                <a class="btn btn-primary p-3 d-block text-start active" href="#" role="button">Launch Guide</a>
            </li>
            <li class="my-1">
                <a class="btn btn-primary p-3 d-block text-start" href="#" role="button">Invite Your Team</a>
            </li>
            <li class="my-1">
                <a class="btn btn-primary p-3 d-block text-start" href="#" role="button">Team Reports</a>
            </li>
            <li class="my-1">
                <a class="btn btn-primary p-3 d-block text-start" href="#" role="button">My Reports</a>
            </li>
            <li class="my-1">
                <a class="btn btn-primary text-warning p-3 d-block text-start" href="#" role="button">Fill out a Report</a>
            </li>
        </ul>
    </div>

    <ul class="w-100 list-unstyled mx-4">
        <li class="my-4">
            <a class="btn btn-primary p-3 d-block text-start" href="#" role="button">Back to Elite</a>
        </li>
        <li class="my-4">
            <a class="btn btn-primary p-3 d-block text-start" href="#" role="button">My Company</a>
        </li>
        <li class="my-4">
            <a class="btn btn-primary p-3 d-block text-start" href="#" role="button"><i class="bi bi-gear-fill"></i>&nbsp;My Profile</a>
        </li>
        <li class="my-4">
            <a class="btn btn-primary p-3 d-block text-start" href="#" role="button"><i class="bi bi-box-arrow-in-left"></i>&nbsp;Sign Out</a>
        </li>
    </ul>
</aside>
