<div class="container col-8 my-5">
    <div class="row d-flex align-items-center justify-content-between my-5">

        <div class="col-lg-5 col-md-5 text-left">
   
           <h3>Invite your team</h3>
           <p>Click on the link below and invite the team members who directly report you.</p>
           <button class="btn btn-warning fw-bold">Invite Your Team</button>
             
       </div>
   
        <div class="col-lg-5 col-md-5">
   
            <img class="w-100" src="src/assets/invite-your-team.png" alt="">
   
       </div>
    </div>
   
   

   <div class="row row d-flex align-items-center justify-content-between my-5">

       <div class="col-lg-5 col-md-5">

           <img class="w-100" src="src/assets/encourage-your-team.png" alt="">
         
       </div>

       <div class="col-lg-6 col-md-6">

           <h3>Encourage your team</h3>
           <p>When they receive your invintation, team members will be promoted to complete their profiles. If team members hasn't created their profile within 24 hours, follow up with them!</p>
           
           

       </div>
   </div>

   <div class="row row d-flex align-items-center justify-content-between my-5">

       <div class="col-lg-5 col-md-5 text-left">

        <h3>Remind your team</h3>
        <p>Every Friday, we'll automatically send your team members an email reminding them to fill out their Weekly Report. But we also encourage <em><b>you</b></em> to consistenly request their Weekly Reports so they realize the importantce of this new habit.</p>
         
       </div>

       <div class="col-lg-5 col-md-5">

           <img class="w-100" src="src/assets/remind-your-team.png" alt="">

       </div>
   </div>

   <div class="row row d-flex align-items-center justify-content-between my-5">

       <div class="col-lg-5 col-md-5">

           <img class="w-100" src="src/assets/read-their-reports.png" alt="">
         
       </div>

       <div class="col-lg-5 col-md-5">

           <h3>Read their reports</h3>
           <p>Set aside some time on Monday to read all the reports. Then reach out to any team members who need to be acknowleged for a success or supported during a difficult time. (And yes, we'll send you a reminder to read your reports each week too.)</p>
           

       </div>
   </div>

</div>