<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl shadow">
    <div class="modal-content pt-4 px-4 border-0 border-top border-info border-3">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="extra-bold" id="staticBackdropLabel">Edit Leader(s).</h3>
        <p class="mb-5">By default, the person who sent you the invite will receive your weekly report. You may also
          select the
          person you report to directly as an additional leader.</p>
        <p class="mb-5">Pro Tip: you can change who sees you report in your profile settings.</p>
        <form>
          <div class="d-flex flex-wrap mb-2">
            <div class="badge bg-dark py-0 pe-0 me-2 mb-2">
              <span class="p-2">Nikolai Kapustin</span>
              <span class="text-black-50">|</span>
              <button class="btn btn-dark m-0 p-0"><i class="bi bi-x fs-3 p-0 m-0 text-secondary"></i></button>
            </div>
            <div class="badge bg-dark py-0 pe-0 me-2 mb-2">
              <span class="p-2">Anna Kotova</span>
              <span class="text-black-50">|</span>
              <button class="btn btn-dark m-0 p-0"><i class="bi bi-x fs-3 p-0 m-0 text-secondary"></i></button>
            </div>
            <div class="badge bg-dark py-0 pe-0 me-2 mb-2">
              <span class="p-2">Nikolai Kapustin</span>
              <span class="text-black-50">|</span>
              <button class="btn btn-dark m-0 p-0"><i class="bi bi-x fs-3 p-0 m-0 text-secondary"></i></button>
            </div>
            <div class="badge bg-dark py-0 pe-0 me-2 mb-2">
              <span class="p-2">Anna Kotova</span>
              <span class="text-black-50">|</span>
              <button class="btn btn-dark m-0 p-0"><i class="bi bi-x fs-3 p-0 m-0 text-secondary"></i></button>
            </div>
            <div class="badge bg-dark py-0 pe-0 me-2 mb-2">
              <span class="p-2">Nikolai Kapustin</span>
              <span class="text-black-50">|</span>
              <button class="btn btn-dark m-0 p-0"><i class="bi bi-x fs-3 p-0 m-0 text-secondary"></i></button>
            </div>
            <div class="badge bg-dark py-0 pe-0 me-2 mb-2">
              <span class="p-2">Anna Kotova</span>
              <span class="text-black-50">|</span>
              <button class="btn btn-dark m-0 p-0"><i class="bi bi-x fs-3 p-0 m-0 text-secondary"></i></button>
            </div>
          </div>
          <div class="my-3">
            <input class="form-control form-control-lg">
          </div>
          <button type="submit" class="btn btn-info fw-bold my-5">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
