<nav class="d-block d-lg-none navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html"><img src="../img/logo_mini.png" class="img-fluid" alt="Logo"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="list-unstyled mx-4">
        <li class="my-1">
          <a class="btn btn-primary p-3 d-block text-start active" href="index.html" role="button">Launch Guide</a>
        </li>
        <li class="my-1">
          <a class="btn btn-primary p-3 d-block text-start" href="invite_team.html" role="button">Invite Your Team</a>
        </li>
        <li class="my-1">
          <a class="btn btn-primary p-3 d-block text-start" href="team_reports.html" role="button">Team Reports</a>
        </li>
        <li class="my-1">
          <a class="btn btn-primary p-3 d-block text-start" href="my_reports.html" role="button">My Reports</a>
        </li>
        <li class="my-1">
          <a class="btn btn-primary text-info p-3 d-block text-start" href="fill_out_report.html" role="button">Fill out
            a Report</a>
        </li>
      </ul>
      <ul class="list-unstyled mx-4">
        <li class="my-4">
          <a class="btn btn-primary p-3 d-block text-start" href="#" role="button">Back to Elite</a>
        </li>
        <li class="my-4">
          <a class="btn btn-primary p-3 d-block text-start" href="my_company.html" role="button">My Company</a>
        </li>
        <li class="my-4">
          <a class="btn btn-primary p-3 d-block text-start" href="edit_member_info.html" role="button"><i
              class="bi bi-gear-fill"></i>&nbsp;My
            Profile</a>
        </li>
        <li class="my-4">
          <a class="btn btn-primary p-3 d-block text-start" href="#" role="button"><i
              class="bi bi-box-arrow-in-left"></i>&nbsp;Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
