<header class="page-header text-center py-5 bg-dark">
<h2 class="fs-1 fw-bold"><b>Anatoliy Kolodkin</b></h2>
<p>anatoliy@ankosoftware.com</p>
</header>

<div class="row text-left">
    <div class="col-11 mx-auto my-5">
        <h2 class="fw-bold"><b>Edit Anatoliy's information</b></h2>
        <p>You may assign leaders or team members to this person, as well as deactivate their account if they no longer work for your organization</p>

        <form class="container rounded p-0 my-5 bg-light" action="#" id="invite-form">
            <span class="d-block fw-bold">BASIC PROFILE INFORMATION</span>
            <hr class="mt-0">
          
            <div class="mb-3 position-relative">
              <label for="form-firstname" class="form-label fw-bold">First Name</label>
              <input type="text" class="form-control pe-4 ps-0" id="form-firstname">
              <i class="bi bi-person-badge position-absolute text-secondary"></i>
            </div>

            <div class="mb-3 position-relative">
                <label for="form-firstname" class="form-label fw-bold">Last Name</label>
                <input type="text" class="form-control pe-4 ps-0" id="form-firstname">
                <i class="bi bi-person-badge position-absolute text-secondary"></i>
              </div>
          
            <button class="btn btn-light border-dark fw-bold text-dark" type="submit">Save name change</button>
          </form>
    
          <span class="d-block fw-bold mt-5">SEE LIST OF ANKO TECHNOLOGIES CORP'S MEMBERS</span>
          <hr class="mt-0">
          <p>If you need to edit a particular team member, you can see a complete list of team members and visit their profile to make edits. <b>You will not be able to see a team member's weekly report.</b></p>
          <a href="../team-members.html"><button class="btn btn-light border-dark fw-bold text-dark" type="button">See All Team Members</button></a>
        </form>
    </div>

    
</div>