<header class="page-header text-center py-5 bg-dark">
<h2 class="fs-1 fw-bold"><b>Anatoliy Kolodkin</b></h2>
<p>anatoliy@ankosoftware.com</p>
</header>

<div class="row text-left">
    <div class="col-11 mx-auto my-5">
        <h2 class="fw-bold"><b>Edit Anatoliy's information</b></h2>
        <p class="fw-bold">You may assign leaders or team members to this person, as well as deactivate their account if they no longer work for your organization</p>

        <form class="container rounded p-0 my-5 bg-light edit-member-form" action="#" id="edit-member-form">
            <span class="d-block fw-bold">BASIC PROFILE INFORMATION</span>
            <hr class="mt-0">
          
            <div class="mb-3 position-relative">
              <label for="form-firstname" class="form-label fw-bold">First Name</label>
              <input type="text" class="form-control w-25 pe-4 ps-2" id="member-form-firstname" value="Anatoliy">
              <i class="bi bi-person-badge position-absolute text-secondary"></i>
            </div>

            <div class="mb-3 position-relative">
                <label for="form-firstname" class="form-label fw-bold">Last Name</label>
                <input type="text" class="form-control w-50 pe-4 ps-2" id="member-form-lastname" value="Kolodkin">
              </div>

              <div class="mb-3 position-relative">
                <label for="form-firstname" class="form-label fw-bold">Title</label>
                <input type="text" class="form-control w-75 pe-4 ps-2" id="member-form-title" value="CEO">
              </div>
          
            <button class="btn btn-warning border-dark fw-bold text-dark" type="submit">Save</button>
          </form>

          <span class="d-block fw-bold mt-5 text-uppercase">Anatoliy reports to the following leaders:</span>
          <hr class="mt-0">

          <ul class="list-group list-group-horizontal">
            <li><a href="" class="btn btn-dark">Nikolay Kapustin</a></li>
            <li><a href="" class="btn btn-dark ms-1">Nina Mammadova</a></li>
            <li><a href="" class="btn btn-dark ms-1">Natalia Starikova</a></li>
            <li><a href="" class="btn btn-dark ms-1">Anton Tarkhanov</a></li>
            <li><a href="" class="btn btn-dark ms-1">Alexandr Vovchuk</a></li>
          </ul>
          
          <a href="#" class="btn btn-light border-dark fw-bold text-dark my-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit Leader(s)</a>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-left">

                  <h2 class="fw-bold">Edit Leader(s)</h2>

                  <p>By default, the person who sent you the invite will receive your weekly report. You may also select the person you report to directly as an additional leader.</p>
                  <p class="my-5">Pro tip: You can change who sees your report in your profile settings</p>

                  <ul class="list-group list-group-horizontal">
                    <li><a href="" class="btn btn-dark">Nikolay Kapustin</a></li>
                    <li><a href="" class="btn btn-dark ms-1">Nina Mammadova</a></li>
                    <li><a href="" class="btn btn-dark ms-1">Natalia Starikova</a></li>
                    <li><a href="" class="btn btn-dark ms-1">Anton Tarkhanov</a></li>
                    <li><a href="" class="btn btn-dark ms-1">Alexandr Vovchuk</a></li>
                  </ul>

                  <div class="my-5 w-100 h-25 border"></div>
                </div>
                <div text-left w-100>
                  <button class="btn btn-warning ms-3 my-3" data-bs-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <span class="d-block fw-bold mt-5 text-uppercase">The following team members report to Anatoliy:</span>
          <hr class="mt-0">

          <ul class="list-group list-group-horizontal">
            <li><button class="btn btn-dark">Alexandr Evseev</button></li>
            <li><a href="" class="btn btn-dark ms-1">Nikolai Kapustin</a></li>
            <li><a href="" class="btn btn-dark ms-1">Anna Kotova</a></li>
            <li><a href="" class="btn btn-dark ms-1">Nina Mammadova</a></li>
            <li><a href="" class="btn btn-dark ms-1">Natalia Starikova</a></li>
          </ul>
          <ul class="list-group list-group-horizontal py-1">
            <li><a href="" class="btn btn-dark ">Anton Tarkhanov</a></li>
            <li><a href="" class="btn btn-dark ms-1">Alexandr Vovchuk</a></li>
          </ul>

          <a href="#"><button class="btn btn-light border-dark fw-bold text-dark my-3" type="button">Edit Members</button></a>

          <span class="d-block fw-bold mt-5 text-uppercase">Anatoliy's invite link</span>
          <hr class="mt-0">

          <span class="d-block mt-5">Share the following link to invite team members on Anatoly's behalf.</span>

          <div class="w-50 border border-dark m-3 mx-auto overflow-auto">
            <div>https://weeklyreport.enterleadership.com/accept/wadwadandkadawadawdawdaw</div>
          </div>
          <button class="btn btn-warning d-block mx-auto">Copy link</button>
    </div>
</div>

