<header class="page-header text-center py-5 bg-dark">
    <h2 class="fs-1 fw-bold"><b>ANKO Technologies Corp</b></h2>
    <p>Joined January 2020</p>
  </header>

  <div class="row my-5">
    <div class="col-10 mx-auto text-center">
        <h5 class="fw-bold">TEAM MEMBERS</h5>

        <ul>
            <li class="list-group-item mb-2 border-0 shadow d-flex justify-content-between">
                <div class="d-flex">
                    <div class="user-icon col-1 text-uppercase text-dark fw-bold d-flex align-items-center
                justify-content-center rounded-circle">
                        ae
                    </div>
                    <div class="user-info col-10 ms-3">
                        <span class="user-name">Aleksandr Evseev</span>
                    </div>
                </div>

                <div class="col-1 d-flex align-items-left">
                    <span class="me-3"></span>
                    <span class="me-3"></span>
                    <span><a class="text-decoration-none text-dark" href="../team-member.html">Edit</a></span>
                </div>
            </li>     
        

          <li class="list-group-item mb-2 border-0 shadow d-flex justify-content-between">
            <div class="d-flex">
                <div class="user-icon col-1 text-uppercase text-dark fw-bold d-flex align-items-center
                justify-content-center rounded-circle">
                nk
              </div>
              <div class="user-info col-10 ms-3">
                <span class="user-name">Nikolay Kapustin</span>
              </div>
            </div>
            
            <div class="col-1 d-flex align-items-left">
              <span class="me-3"></span>
              <span class="me-3"></span>
              <span><a class="text-decoration-none text-dark" href="#">Edit</a></span>
            </div>
           </li>
           <li class="list-group-item mb-2 border-0 shadow d-flex justify-content-between">
            <div class="d-flex">
                <div class="user-icon col-1 text-uppercase text-dark fw-bold d-flex align-items-center
                justify-content-center rounded-circle">
                ak
              </div>
              <div class="user-info col-10 ms-3">
                <span class="user-name">Anatoliy Kolodkin</span>
              </div>
            </div>
            
            <div class="col-1 d-flex align-items-left">
              <span class="me-3"></span>
              <span class="me-3"></span>
              <span><a class="text-decoration-none text-dark" href="#">Edit</a></span>
            </div>
            </li>
            <li class="list-group-item mb-2 border-0 shadow d-flex justify-content-between">
                <div class="d-flex">
                    <div class="user-icon col-1 text-uppercase text-dark fw-bold d-flex align-items-center
                    justify-content-center rounded-circle">
                    ak
                  </div>
                  <div class="user-info col-10 ms-3">
                    <span class="user-name">Anna Kotova</span>
                  </div>
                </div>
                
                <div class="col-1 d-flex align-items-left">
                  <span class="me-3"></span>
                  <span class="me-3"></span>
                  <span><a class="text-decoration-none text-dark" href="#">Edit</a></span>
                </div>
                </li>
                <li class="list-group-item mb-2 border-0 shadow d-flex justify-content-between">
                    <div class="d-flex">
                        <div class="user-icon col-1 text-uppercase text-dark fw-bold d-flex align-items-center
                        justify-content-center rounded-circle">
                        nm
                      </div>
                      <div class="user-info col-10 ms-3">
                        <span class="user-name">Nina Mammadova</span>
                      </div>
                    </div>
                    
                    <div class="col-1 d-flex align-items-left">
                      <span class="me-3"></span>
                      <span class="me-3"></span>
                      <span><a class="text-decoration-none text-dark" href="#">Edit</a></span>
                    </div>
                    </li>
                    <li class="list-group-item mb-2 border-0 shadow d-flex justify-content-between">
                        <div class="d-flex">
                            <div class="user-icon col-1 text-uppercase text-dark fw-bold d-flex align-items-center
                            justify-content-center rounded-circle">
                            ns
                          </div>
                          <div class="user-info col-10 ms-3">
                            <span class="user-name">Natalia Starikova</span>
                          </div>
                        </div>
                        
                        <div class="col-1 d-flex align-items-left">
                          <span class="me-3"></span>
                          <span class="me-3"></span>
                          <span><a class="text-decoration-none text-dark" href="#">Edit</a></span>
                        </div>
                        </li>
                        <li class="list-group-item mb-2 border-0 shadow d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="user-icon col-1 text-uppercase text-dark fw-bold d-flex align-items-center
                                justify-content-center rounded-circle">
                                at
                              </div>
                              <div class="user-info col-10 ms-3">
                                <span class="user-name">Anton Tarkhanov</span>
                              </div>
                            </div>
                            
                            <div class="col-1 d-flex align-items-left">
                              <span class="me-3"></span>
                              <span class="me-3"></span>
                              <span><a class="text-decoration-none text-dark" href="#">Edit</a></span>
                            </div>
                            </li>
                            <li class="list-group-item mb-2 border-0 shadow d-flex justify-content-between">
                                <div class="d-flex">
                                    <div class="user-icon col-1 text-uppercase text-dark fw-bold d-flex align-items-center
                                    justify-content-center rounded-circle">
                                    av
                                  </div>
                                  <div class="user-info col-10 ms-3">
                                    <span class="user-name">Alekdandr Vovchuk</span>
                                  </div>
                                </div>
                                
                                <div class="col-1 d-flex align-items-left">
                                  <span class="me-3"></span>
                                  <span class="me-3"></span>
                                  <span><a class="text-decoration-none text-dark" href="#">Edit</a></span>
                                </div>
                            </li>
        
        </ul>
  </div>